@import url('https://fonts.googleapis.com/css2?family=Taviraj:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Taviraj:ital,wght@1,300;1,500&display=swap');
body {
background-color: black;
box-sizing: border-box;
}
.container {
    justify-content: first baseline;
    height: 100vh;
    padding-left: 1px;
    padding-top: 1px;
}

.content {
    width: 90%;
    padding: 20px;
    box-sizing: content-box;
    padding-left: 50px;
    font-size: 19px;
    text-align: start;
}

p {
font-family: 'Taviraj', serif;
color: white;
font-weight: 500;
}

.image{
    text-align: start;
    padding-top: 30px;
    padding-left: 30px;
}

h1 {
color: red; 
font-family: Impact, Charcoal, sans-serif;
text-align: center;
}

.image2{
    text-align: right;
    padding-right: 50px;
    position: relative;
    top: -460px;
}
